.multiple-choice-question {
    font-size: 2rem;
}

.multiple-choice-possible-answer > p {
    padding: 0.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.multiple-choice-possible-answer > p:hover {
    background-color: green;
    color: white;
}

.multiple-choice-possible-answer_active {
    background-color: green;
    color: white;
}

.multiple-choice-answer {
    color: green;
    display: none;
}

.multiple-choice-submit-button {
    margin-top: 2rem;
}