.progress {
    padding: 0.4rem;
    background-color: lightgray;
    font-size: 2rem;
}

.multiple-choice-question {
    font-size: 2rem;
}

.multiple-choice-possible-answer > p {
    padding: 0.8rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.multiple-choice-possible-answer > p:hover {
    background-color: green;
    color: white;
}

.multiple-choice-possible-answer_active {
    background-color: green;
    color: white;
}

.multiple-choice-answer {
    margin: 1rem 0;
    padding: 1rem;
    display: none;
    background-color: lightgray;
    font-size: 2rem;
    font-weight: bold;
}

.multiple-choice-submit-button {
    margin: 0.4rem 0;
    padding: 1rem;
    width: 100%;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.multiple-choice-submit-button:hover {
    background-color: #005A8A;
    color: white;
}

.next-question-button {
    margin: 0.4rem 0;
    padding: 1rem;
    width: 100%;
    height: 4rem;
    display: none;
    font-size: 1.6rem;
    font-weight: bold;
}

.next-question-button:hover {
    background-color: #005A8A;
    color: white;
}

.choice-result {
    font-size: 2rem;
    text-align: center;
}