body {
    counter-reset: statement;
}

.matching-statement li::before {
    counter-increment: statement;
    content: counter(statement) ") ";
    font-size: 2rem;
}

.matching-statement li {
    padding: 1rem;
    display: flex;
    align-items: center;
}

.matching-statement-choice {
    margin-left: 1rem;
    height: 2rem;
}

.statement {
    margin-left: 1rem;
    font-size: 1.6rem;
}

.correct-answer {
    margin-left: 1rem;
    background-color: #E3E3E3;
    color: #8b0000;
    font-size: 2rem;
}

.result {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.match-submit {
    width: 100%;
    margin: auto 0;
    margin-top: 2rem;
    background-color: #005A8A;
    color: white;
    font-size: 2rem;
    border: 1px solid #005A8A;
    border-radius: 20px;
    outline: none;
}

.match-submit:hover {
    background-color: #008000;
}